<div id="marco">
  <h1><span class="cabezatext">Registro</span></h1>

  {{!-- Mensaje de error --}}
  {{#if error}}
    <div style="background-color:#ffcccc; color:#8b0000; padding:10px; border-radius:8px; margin-bottom:15px; text-align:center;">
      {{error}}
    </div>
  {{/if}}

  <form id="registro" method="post" action="/register" autocomplete="off">
    <input
      type="text"
      name="nombre"
      class="inputs"
      placeholder="Nombre completo"
      value="{{nombre}}"
      required
    />
    <input
      type="email"
      name="correo"
      class="inputs"
      placeholder="Correo electrónico"
      value="{{correo}}"
      required
    />
    <input
      type="text"
      name="usuario"
      class="inputs"
      placeholder="Nombre de usuario"
      value="{{usuario}}"
      required
    />

    <div class="password-container">
      <input
        type="password"
        name="contraseña"
        id="registerPassword"
        class="inputs"
        placeholder="Contraseña"
        required
      />
      <div class="show-password-label">
          <input type="checkbox" id="showRegisterPassword" onclick="togglePasswordVisibility('registerPassword', 'showRegisterPassword', 'iconRegisterPassword')">
          <img src="/img/ojo_cerrado.png" id="iconRegisterPassword" class="password-toggle-icon" title="Mostrar contraseña" alt="Mostrar/Ocultar contraseña">
      </div>
    </div>

    <div class="password-container">
      <input
        type="password"
        name="confirmar"
        id="confirmPassword"
        class="inputs"
        placeholder="Confirmar contraseña"
        required
      />
      <div class="show-password-label">
          <input type="checkbox" id="showConfirmPassword" onclick="togglePasswordVisibility('confirmPassword', 'showConfirmPassword', 'iconConfirmPassword')">
          <img src="/img/ojo_cerrado.png" id="iconConfirmPassword" class="password-toggle-icon" title="Mostrar contraseña" alt="Mostrar/Ocultar contraseña">
      </div>
    </div>

    <input
      type="text"
      name="seguridad"
      class="inputs"
      placeholder="Ciudad de nacimiento (Pregunta de seguridad)"
      value="{{seguridad}}"
      required
    />
    <input
      type="date"
      name="fecha"
      class="inputs"
      placeholder="Fecha de Nacimiento" value="{{fecha}}"
      required
    />
    <input
      type="submit"
      value="Registrarse"
      class="inputs submit"
    />
    <br><br>
    <span class="legal-text">
      ¿Ya tienes cuenta? <a href="/login">Pulsa aquí</a>
    </span>
    <span class="legal-text">
      Al continuar aceptas las <a href="/baseslegales">bases legales</a>
    </span>
    <a href="/" class="upleft">Volver al inicio</a>
  </form>
</div>